body{
    margin : 0;
    background-color: #BEFFF7;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}
header{
    padding-left: 10px;
    background-color: #BEFFF7;
    height: 6vh;
    font-size: xx-large;
    box-shadow: 0px 15px 5px -15px #111;
    font-weight: bold;
    display: flex;
    justify-content: space-between;   
}
#main-element{
    margin-top: 5px;
    position: relative;
    left:20%;
    flex-basis: 40vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    border-radius : 4px;
}
.main{
    width:70%;
    margin-top: 15px;
    border-radius : 20px;
    background-color: #5CD2E6;
}
#date-element{
    text-align: center;
    /* background-color: blueviolet; */
    font-size: x-large;
    font-weight: bold;
    flex-basis: 5vh;
}
#todo-list {
    padding-top: 10px;
    /* background-color: greenyellow; */
    text-align: center;
    /* width: 80vw;
    height:70vh; */
    flex-basis: 80vh;
}
#todo-list ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#todo-list li{
    width: 30vw;
    list-style: none;
    position: relative;
    left:-18px;
    background-color: #3085C3;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}
#add-todo{
    /* background-color: aliceblue; */
    /* width: 50%; */
    flex-basis: 24vh;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#add-todo form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#todo-field{
    border-radius: 10px;
    border: none;
    height:5vh;
    width: 20vw;
    border : 1px solid black;
    text-align: center;
}
#submit-btn{
    width:10vw;
    border-radius: 10px;
    border: none;
    background-color: #000000;
    height: 4vh;
    color:#BAD7E9;
}
/* To cut the task once checked */
li input[type=checkbox]:checked + label{
    text-decoration: line-through;
}